<configuration>
	<outputs>
		<output>
			<filename>result.json</filename>
			<format>json</format>
		</output>
		<output>
			<filename>result.csv</filename>
			<format>csv</format>
		</output>
		<output>
			<filename>result.log</filename>
			<format>user</format>
		</output>
	</outputs>
	<dependencies>
		<dependency>
			<url>https://rss.nytimes.com/services/xml/rss/nyt/HomePage.xml</url>
			<filename>times.xml</filename>
		</dependency>
		<dependency>
			<url>https://www.theguardian.com/uk/rss</url>
			<filename>theguardian.xml</filename>
		</dependency>
		<dependency>
			<url>http://24smi.org/rss/</url>
			<filename>smi24.xml</filename>
		</dependency>
		<dependency>
			<url>https://www.kommersant.ru/RSS/news.xml</url>
			<filename>kommersant.xml</filename>
		</dependency>
		<dependency>
			<url>https://ecology.md/ru/rss</url>
			<filename>ecology.xml</filename>
		</dependency>
		<dependency>
			<url>https://feeds.a.dj.com/rss/RSSWorldNews.xml</url>
			<filename>wallstreetjournal.xml</filename>
		</dependency>
		<dependency>
			<url>https://www.huffpost.com/section/world-news/feed</url>
			<filename>huffpost.xml</filename>
		</dependency>
		<dependency>
			<url>http://rss.cnn.com/rss/edition.rss</url>
			<filename>cnn.xml</filename>
		</dependency>
		<dependency>
			<url>https://www.buzzfeed.com/index.xml</url>
			<filename>buzzfeed.xml</filename>
		</dependency>
		<dependency>
			<url>https://www.rt.com/rss-feed/</url>
			<filename>rt.xml</filename>
		</dependency>
		<dependency>
			<url>https://www.cbsnews.com/latest/rss/world</url>
			<filename>cbsnews.xml</filename>
		</dependency>
	</dependencies>
</configuration>